{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>הוספת תפקיד חדש בארגון:</h1>
  <p>מלא.י את כל הפרטים הבאים:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
     

      {{ form.PossName.label }} {{ form.PossName() }}

      {{ form.PossDescription.label }} {{ form.PossDescription() }}
  </br>
  

  
      {{ form.submit() }}
  </form>
</div>

<div class="jumbotron">
  <h2>להלן רשימת התפקידים בארגון:</h2>


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">תפקיד</th>
        <th scope="col">תיאור התפקיד</th>
       
      </tr>
    </thead>
    <tbody>
    {% for P in poss_list  %}
      <tr>
        <th scope="row"><ol></ol></th>
        <td>
           {{P.PossName}} 
        </td>
        <td>
          {{P.PossDescription}} 
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

  
  </div>
{% endblock %}
