{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary"> הוספת תפקיד בארגון</h1>
</br>
  <p>מלא.י את הפרטים הבאים:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
     

      <em class="redText">* </em>{{ form.PossName.label }} {{ form.PossName() }}

      {{ form.PossDescription.label }} {{ form.PossDescription() }}
  </br>
  

  
      {{ form.submit() }}
  </form>
</div>

<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary">רשימת התפקידים הקיימים</h1>

</br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">תפקיד</th>
        <th scope="col">תיאור התפקיד</th>
       
      </tr>
    </thead>
    <tbody>
    {% for P in poss_list  %}
      <tr>
        <td scope="row">{{loop.index}}</td>
        <td>
           {{P.PossName}} 
        </td>
        <td>
          {{P.PossDescription}} 
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

  
  </div>
{% endblock %}
