{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary">הוספת קבוצת נוער / מועדון</h1>
</br>
  <p>מלא.י את הפרטים הבאים</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}<br>
      {{ form.regionorsubject.label }} {{ form.regionorsubject() }}<br>
      {{ form.city.label }} {{ form.city() }}<br>

      {{ form.agesingroup.label }}  <select multiple id="mymultiselect" name="mymultiselect" class="selectpicker"  multiple data-live-search="true" >         
        <option value="" disabled selected>Choose your country</option>

        <option>ז</option>
        <option>ח</option>
        <option>ט</option>
        <option>י</option>
        <option>יא</option>
        <option>יב</option>

      
    </select>
    <br>
  </br>
      {{ form.submit() }}
  </form>

</div>
<img src="https://cdn.cnn.com/cnnnext/dam/assets/170626132817-pride-parade-exlarge-169.jpg" width="900" height="500" class="rounded mx-auto d-block"  style="border:5px solid black" alt="Responsive image">

{% endblock %}



