{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary">הוספת מתנדב.ת חדש.ה</h1>
</br>
  <p class="font-weight-light">מלא.י את הפרטים הבאים:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      <em class="redText">* </em>{{ form.IDV.label }} {{ form.IDV() }}
    </br>
    <em class="redText">* </em>{{ form.emailv.label }} {{ form.emailv() }}
        </br>
        <em class="redText">* </em>{{ form.FnameV.label }} {{ form.FnameV() }}
    </br>

      {{ form.SnameV.label }} {{ form.SnameV() }}
    </br>

      {{ form.DateOfBirthV.label }} <input type="date" id="DateOfBirthV" name="DateOfBirthV">
        </br>
      {{ form.PronounsV.label }} {{ form.PronounsV() }}
    </br>

      {{ form.CityV.label }} {{ form.CityV() }}
    </br>

      {{ form.AdressV.label }} {{ form.AdressV() }}
        </br>
      {{ form.NutritionV.label }} {{ form.NutritionV() }}
    </br>

      {{ form.PhoneNumV.label }} {{ form.PhoneNumV() }}
    </br>

      {{ form.StatusV.label }} {{ form.StatusV() }}
        </br>
      </br>

      {{ form.submit() }}
  </form>

  </div>
<img src="https://i.pinimg.com/originals/3f/a0/9f/3fa09ff702e45f7941bcd943c4fd8970.jpg" width="600" height="500" class="rounded mx-auto d-block"  style="border:5px solid black" alt="Responsive image">

{% endblock %}
