{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>הוסף מתנדב חדש:</h1>
  <p>מלא.י את הפרטים הבאים:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      {{ form.IDV.label }} {{ form.IDV() }}
    </br>
    {{ form.emailv.label }} {{ form.emailv() }}
        </br>
      {{ form.FnameV.label }} {{ form.FnameV() }}
    </br>

      {{ form.SnameV.label }} {{ form.SnameV() }}
    </br>

      {{ form.DateOfBirthV.label }} <input type="date" id="DateOfBirthV" name="DateOfBirthV">
        </br>
      {{ form.PronounsV.label }} {{ form.PronounsV() }}
    </br>

      {{ form.CityV.label }} {{ form.CityV() }}
    </br>

      {{ form.AdressV.label }} {{ form.AdressV() }}
        </br>
      {{ form.NutritionV.label }} {{ form.NutritionV() }}
    </br>

      {{ form.PhoneNumV.label }} {{ form.PhoneNumV() }}
    </br>

      {{ form.StatusV.label }} {{ form.StatusV() }}
        </br>
      </br>

      {{ form.submit() }}
  </form>

  </div>
{% endblock %}
