{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>הוספת תפקיד חדש בארגון:</h1>
  <p>מלא.י את כל הפרטים הבאים:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
     

      {{ form.PossName.label }} {{ form.PossName() }}

      {{ form.PossDescription.label }} {{ form.PossDescription() }}
  </br>
  

  
      {{ form.submit() }}
  </form>
</div>

<div class="jumbotron">
    <h2>Here is a list of all the position.</h2>
    <ul>
      {% for PossName in poss_list  %}
      <li>{{PossName}}</li>
      {% endfor %}
    </ul>
  
  </div>
{% endblock %}
