{% extends "home.html" %}
{% block content %}
<div class="jumbotron">
    <h1>רשימת המועמדימ.ות שהשאירו פרטים במערכת:</h1>
    <ol>
     
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">דואר אלקטורני</th>
            <th scope="col">לשון פניה</th>
            <th scope="col">קבוצה</th>
            <th scope="col">מספר טלפון נייד</th>
            <th scope="col">מועד השארת פרטים</th>

    
          </tr>
        </thead>
    </br>
    
        <tbody>
          {% for stu in condidates_list3  %}
          <tr>
            <th scope="row"><ol></ol></th>
            <td> 
              <a href="{{url_for('edit_condidate', id=stu.id)}}">{{stu.emailc}}</a>
            </td>
            <td>
            {{stu.phonenumc}}
            </td>
            <td>
              {{stu.name}}
            </td>
            <td>
              {{stu.stimes}}
            </td>
            <td>
              {{stu.pronounc}}

            </td>
          </tr>
          {% endfor %}
    
        </tbody>
      </table>














     </div>
<div class="jumbotron">
  <h1>פנייה פרו-אקטיבית:</h1>
  <p>Fill all the fields</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.group_id.label }} {{ form.group_id() }}
    </br>
      {{ form.emailc.label }} {{ form.emailc() }}
    </br>
    {{ form.pronounc.label }} {{ form.pronounc() }}
    </br>
    {{ form.phonenumc.label }} {{ form.phonenumc() }}
    </br>
    {{ form.status.label }} {{ form.status() }}
  </br>
    {{ form.text.label }} {{ form.text() }}
  </br>

      {{ form.submit() }}
  </form>
</div>

{% endblock %}
