{% extends "home.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Here is a list of all available Condidates:</h1>
    <ol>
        {% for c in condidates_list  %}
        <li>{{c}}</li>
        {% endfor %}
      </ol>
  
     </div>
<div class="jumbotron">
  <h1>פנייה פרו-אקטיבית:</h1>
  <p>Fill all the fields</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.group_id.label }} {{ form.group_id() }}
    </br>
      {{ form.emailc.label }} {{ form.emailc() }}
    </br>
    {{ form.pronounc.label }} {{ form.pronounc() }}
    </br>
    {{ form.phonenumc.label }} {{ form.phonenumc() }}
    </br>

      {{ form.submit() }}
  </form>
</div>

{% endblock %}
