{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>עדכון חניך בקבוצה</h1>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      {{ form.group_id.label }} {{ form.group_id(value=line_to_update.group_id) }}
  </br>
      {{ form.student_emails.label }} {{ form.student_emails(value=line_to_update.student_emails) }}
  </br>
      {{ form.statusg.label }} {{form.statusg(value=line_to_update.statusg) }}
  </br>
    </br>
      {{ form.submit(value="עדכון") }}
  </form>
</div>
{% endblock %}
