{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>עדכון תיק חניך</h1>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      {{ form.firstname.label }} {{ form.firstname(value=name_to_update.firstname) }}
  </br>
      {{ form.lastname.label }} {{ form.lastname(value=name_to_update.lastname) }}
  </br>
    {{ form.pronouns.label }} {{ form.pronouns(obj=name_to_update.pronouns) }}
    </br>
    {{ form.citys.label }} {{form.citys(value=name_to_update.citys) }}
    </br>
    {{ form.addresss.label }} {{form.addresss(value=name_to_update.addresss) }}
    </br>
    {{ form.nutritions.label }} {{ form.nutritions(value=name_to_update.nutritions) }}
    </br>
    {{ form.phonenums.label }} {{form.phonenums(value=name_to_update.phonenums) }}
    </br>
    {{ form.schoolname.label }} {{form.schoolname(value=name_to_update.schoolname) }}
    </br>
    {{ form.parents.label }} {{form.parents(value=name_to_update.parents) }}
    </br>
    {{ form.details.label }} {{form.details(value=name_to_update.details) }}

    </br>
      {{ form.submit(value="עדכון") }}
  </form>
</div>
{% endblock %}
