{% extends "base.html" %}
{% block content %}
<div > 
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              <h3>קצת עלינו</h3>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <h6 style="text-align:center;">איגי (Israel Gay Youth), הוקם בשנת 2001 כחלק מאגודת הלהט״ב ובשנת 2004 הפך לעמותה עצמאית. יעד להיות מרחב חברתי משמעותי עבור נוער להט״ב והטרוסקסואל, לייצר עבורם מרחב חברתי חינוכי לצמוח בו ולפעול למיגור תופעת האלימות, גזענות וגילויי להט״בופוביה. בכלל זאת הארגון פועל ללא מטרות רווח. בארגון פועלים כ- 400 מתנדבים המפעילים יותר מ- 100 קבוצות לכ- 4000 חניכים. </h6>
              
            </div>
            <img src="https://www.yomyom.net/UploadImg/ArticlesNew/images/2884/MASTER%20WEB(2).jpg" width="400" height="220" class="rounded mx-auto d-block"  style="border:5px solid black" alt="Responsive image">

          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              <h3>חזון העמותה</h3>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <h6 style="text-align:center;">ארגון הנוער הגאה יפעל למען העצמה של בנות ובני נוער גאה במסגרות החינוכיות הפורמאליות והבלתי פורמאליות, יפעל ליצירת מסגרות חברתיות משמעותיות עבור בנות הנוער ויפעל לראות אותן לוקחות חלק משמעותי בעיצוב הקהילה בפרט והחברה הישראלית בכלל.איגי ייתן מענה חברתי וסביבה בטוחה לכל נער ונערה גאים בכל חלקי הארץ, דרך פעילות חינוכית משמעותית סדירה. איגי תעודד את חניכותיה וחניכיה לקחת אחריות על עיצוב עולמן, תחנך לחשיבה ביקורתית ותפיסה סולידרית חברתית, תחנך לשוויון, שחרור ודמוקרטיה. ארגון הנוער יהווה ארגון ארצי אשר ייצור מסגרות חברתיות עבור מתנדבות ומתנדבים ברחבי הארץ וקשרים אישיים שיהוו בסיס ליצירת יוזמות ולעשיה חינוכית משותפת.
              חינוך משותף של נוער להט״ב והטרו סקסואלי במטרה להפוך את המאבק למשותף לכלל החברה הישראלית ליצירת חברה צודקת, שוויונית ודמוקרטית.
              הארגון ימשיך לפעול באופן מקצועי ודמוקרטי לצד תכנית עבודה ויעדים משותפים לכלל הפעילות בשותפות עם מערך המתנדבות והמתנדבים אשר מייצגים מגוון קולות בקהילה הלהט״בית״.</h6>
              
            </div>
            <img src="https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F190624202615-six-influential-lgbtq-activists.jpg" width="900" height="500" class="rounded mx-auto d-block"  style="border:5px solid black" alt="Responsive image">
           
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <h3> מטרות העמותה </h3>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <ul><h6>
                    <li>  פיתוח מסגרות חינוכיות משמעותיות אשר יתנו מענה וסביבה בטוחה לכמה שיותר בני נוער להט״בים בכל חלקי הארץ. </li>
                    <li>  יצירת קהילות ממשיות למתנדבות ומתנדבים, על כל גווניה של הקהילה הלהט״בית, שיהוו בסיס לעשייה משותפת ולשינוי חברתי בחברה הישראלית. </li>
                    <li>  יצירת שיח בין נוער להט״ב לנוער הטרו-סקסואלי על בסיס שותפות אמיתית במאבק נגד להט״בופוביה ואלימות במערכת החינוך הפורמאלית והבלתי פורמאלית. </li>
                    <li>  יצירת שותפות ויכולת השפעה בארגון, המשך עבודה מסודרת על פי תכנית עבודה מבוססת יעדים, תקציב ודרכי ביצוע. הקמה של מטה ארגוני חזק ומשמעותי.</li>
                </ul></h6>
            </div>
            <img src="http://igy.org.il/wp-content/uploads/2020/06/pride-2018.jpg" width="900" height="500" class="rounded mx-auto d-block"  style="border:5px solid black" alt="Responsive image">
          </div>
        </div>
      </div>
{% endblock %}
 

