{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h5><div class="p-2 mb-2 bg-info text-black">רשימת חניכימ.ות בקבוצה</div></h5>

  <div class="table-responsive">


  <table id="example_table"   class="table table-hover table-bordered table-secondary border-info">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">דוא״ל</th>
      <th scope="col">שם החניכ.ה</th>
      <th scope="col">שם קבוצה</th>
      <th scope="col">סטטוס פעילות בקבוצה</th>

    </tr>
  </thead>
</br>

  <tbody>
    {% for S in searchstu_in_group_list  %}
    
    <tr>
      <td scope="row">{{loop.index}}</td>
      <td> 
        {{S.emails}}
      </td>
      <td>
      {{S.firstname}}        {{S.lastname}}

      </td>
      <td>
        {{S.name}}

      </td>
      <td>
        {{S.statusg}}
      </td>
    </tr>
    {% endfor %}

  </tbody>
  </table>
</div>
</div>


<img src="https://image.freepik.com/free-vector/lgbt-people_24908-60240.jpg" width="750" height="500" class="rounded mx-auto d-block"  style="border:5px solid black" alt="Responsive image">



    <script>
      $(document).ready(function () {
  $('#example_table').DataTable({
    "pagingType": "full_numbers" // "simple" option for 'Previous' and 'Next' buttons only
  });
  $('.dataTables_length').addClass('bs-select');
});
  </script>
  





{% endblock %}
