{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary"> חיפוש חניכימ.ות בקבוצה:</h1>
</br>


  </form>
</br>
<h6>חיפוש לפי שם הקבוצה:</h6>
<form method ="POST">
  <input type="text" autofocus="autofocus" name="stuin_string">
  <input type="submit" formaction="/search_stuingroup" value="Search / Return">

</form>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">דוא״ל</th>
        <th scope="col">שם החניכ.ה</th>
        <th scope="col">שם קבוצה</th>
        <th scope="col">סטטוס פעילות בקבוצה</th>

      </tr>
    </thead>
</br>

    <tbody>
      {% for S in searchstu_in_group_list  %}
      
      <tr>
        <td scope="row">{{loop.index}}</td>
        <td> 
          {{S.emails}}
        </td>
        <td>
        {{S.firstname}}        {{S.lastname}}

        </td>
        <td>
          {{S.name}}

        </td>
        <td>
          {{S.statusg}}
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>


</div>
{% endblock %}
