{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>חיפוש מתנדבים לפי קבוצה</h1>
</br>


  <form method ="POST">
    <input type="text" autofocus="autofocus" name="volg_string">
    <input type="submit" formaction="/search_volingroup" value="Search / Return">

  </form>
</br>
<h6>לעריכה, לחץ על פרטי המתנדב:</h6>


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID OF Volunteer</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">ID OF Group</th>
        <th scope="col">Group Name</th>
        <th scope="col">Statuse in group</th>


      </tr>
    </thead>
</br>

    <tbody>
      {% for V in searchvol_in_group_list  %}
      <tr>
        <th scope="row"><ol></ol></th>
        <td> 
      {{V.IDV}}

        </td>
        <td>
         {{V.FnameV}}

        </td>
        <td>
          {{V.SnameV}}

        </td>
        <td>
          {{V.IDG}} 
        </td>

      <td>
        {{V.name}} 

      </td>
      <td>
        {{V.statusV}}

      </td>

      </tr>
      {% endfor %}

    </tbody>
  </table>


</div>

<div class="d-flex justify-content-right" >
  <a href="{{ url_for('index') }}" ustify-content-center class="btn btn-success btn-lg" role="button">ייצוא לאקסל - דו״ח מתנדבים</a>  
</div>
{% endblock %}
