{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary"> רשימת חניכימ.ות</h1>
</br>
  <p>חיפוש לפי שם פרטי / מספר טלפון</p>
  <form method ="POST">
    <input type="text" autofocus="autofocus" name="search_string">
    <input type="submit" formaction="/search" value="Search / Return">

  </form>
  </br>
  <p>לעריכה וצפייה בפרטי החניכ.ה לחצ.י על כתובת הדוא״ל:</p>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">דואר אלקטורני</th>
        <th scope="col">שם פרטי</th>
        <th scope="col">שם משפחה</th>
        <th scope="col">מספר טלפון נייד</th>
        <th scope="col">הסרה</th>

      </tr>
    </thead>
</br>

    <tbody>
      {% for stu in students_list  %}
      <tr>
        <td scope="row">{{loop.index}}</td>
        <td> 
          <a href="{{url_for('edit_stu', emails=stu.emails)}}">{{stu.emails}}</a>
        </td>
        <td>
        {{stu.firstname}}
        </td>
        <td>
          {{stu.lastname}}
        </td>
        <td>
          {{stu.phonenums}}
        </td>
        <td>
          <a href="{{ url_for('del_stu', emails=stu.emails) }}" ustify-content-center class="btn btn-danger btn-sm" role="button">מחיקה</a>  
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}