{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>כניסה למערכת:</h1>
    <div class="dropdown-divider"></div>

</br>
    <form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <em class="redText">* </em>{{ form.email.label }} {{ form.email() }}
    <em class="redText">* </em>{{ form.password.label }} {{ form.password() }}
    <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>

{% endblock %}
