{% extends "base.html" %}
{% block content %}
</br>
</br>
</br>
</br>

  <body style=" direction: rtl; text-align: right;">

    <script>
      
        $(document).ready(function() {
            var ctx = $("#chart-line");
            var myLineChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["מדריכימ.ות", "ספרית הדרכה", "רכזי.ות חינוך", "רכזי.ות פעילות","מועמדימ.ות לשיבוץ"],
                    datasets: [{
                        data: [{{guides}}, {{writers}}, {{educations}}, {{activation}}, {{waiting}}],
                        backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)", "rgba(200, 50, 255, 0.5)", "rgba(0, 100, 255, 0.5)", "rgba(256, 165, 100, 100)"],
                        borderWidth: 1,
                        borderColor:'#777',
                        hoverBorderWidth:2,
                        hoverBorderColor:'#000'
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'פילוח מתנדבימ.ות'
                    }
                }
            });
        });
    </script>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row">
                <div class="container-fluid d-flex justify-content-center">
                    <div class="col-sm-8 col-md-6">
                            <div class="card-header">פילוח מתנדבימ.ות</div>
                            <div class="card-body" style="height: 420px">
                                <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                    </div>
                                </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </br>
</br>
</br>

    <div class="container">
      <canvas id="mychart"></canvas>
    </div>

    <script>
      let mychart = document.getElementById('mychart').getContext('2d');

      letbarChart = new Chart(mychart, {
        type:'bar', //bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
          labels:['צפון', 'שרון', 'מרכז', 'שפלה', 'דרום', 'תחום טרנס', 'תחום דתיות', 'תחום אלואן', 'תכנית ניר'],
          datasets: [{
            data:[{{zafon}},{{sharon}},{{merkaz}},{{shfela}},{{darom}},{{trans}},{{datiot}},{{allwan}},{{nir}}],
            label:'סה״כ חניכימ.ות לפי אזור',
            backgroundColor:'#458af7',
            fill: false,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:2,
            hoverBorderColor:'#000'
          }, {
            data:[{{zafon2}},{{sharon2}},{{merkaz2}},{{shfela2}},{{darom2}},{{trans2}},{{datiot2}},{{allwan2}},{{nir2}}],
            label:'חניכות לא פעילות',
            backgroundColor:'#FF33AF',
            fill: true,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:2,
            hoverBorderColor:'#000'
          },{
            data:[{{zafon3}},{{sharon3}},{{merkaz3}},{{shfela3}},{{darom3}},{{trans3}},{{datiot3}},{{allwan3}},{{nir3}}],
            label:'חניכות פעילות',
            backgroundColor:'#33FFB5',
            fill: true,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:2,
            hoverBorderColor:'#000'
            }]
        
        },
        options: {
                    title: {
                        display: true,
                        text: 'פילוח חניכימ.ות לפי איזורים ותחומים'
            }
          }
        
        
      });

    </script>
</body>
</br>




</div>
</br>
</br>

<img src="https://as2.ftcdn.net/v2/jpg/02/85/23/35/1000_F_285233581_kvuGRr79LvShNGoZO9zluF6doEP7a83A.jpg" width="700" height="300" class="rounded mx-auto d-block" alt="Responsive image">


</br>

{% endblock %}



