{% extends "base.html" %}
{% block content %}

<script>
  var canceled_meetings = JSON.parse({{ meetings_dict | tojson  }})

  canceled_meetings_labels = []
  canceled_meetings_values = []

  for (const [key, value] of Object.entries(canceled_meetings)) {
    canceled_meetings_labels.push(key)
    canceled_meetings_values.push(value)
  }

</script>


</br>


  <body style=" direction: rtl; text-align: right;">

    <script>
      
        $(document).ready(function() {
            var ctx = $("#chart-line");
            var myLineChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['טרם שובצו בתפקיד',{% for stu in listposs  %} "{{stu.PossName}}",{% endfor %}],
                    datasets: [{
                        data: [{{a}},{{guides}}, {{writers}}, {{educations}}, {{activation}}, {{waiting}},{{b}},{{c}},{{d}}],
                        backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)", "rgba(200, 50, 255, 0.5)", "rgba(0, 100, 255, 0.5)", "rgba(256, 165, 100, 100)", "rgba(200, 200, 200, 200)", "rgba(32, 500, 6, 1)", "rgba(100, 20, 40, 1)", "rgba(87, 154, 33, 1)"],
                        borderWidth: 1,
                        borderColor:'#777',
                        hoverBorderWidth:2,
                        hoverBorderColor:'#000'
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'פילוח מתנדבימ.ות'
                    }
                }
            });

            var ctx = $("#chart-meetings");
            var myLineChart = new Chart(ctx, {
                type: 'bar',//bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: canceled_meetings_labels,
                    datasets: [{
                        data: canceled_meetings_values,
                        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#ff33cc","#ffff00","#66ff33","66ffcc","ff33cc"],
                        borderWidth: 1,
                        borderColor:'#777',
                        hoverBorderWidth:2,
                        hoverBorderColor:'#000'
                    }]
                },
                options: {
                    title: {
                        display: true,
                       text: 'פילוח פעולות'
                    }
                }
            });
        });
    </script>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">

            
              
                <div class="card-header" style= "text-align: center;">פילוח מתנדבימ.ות</div>
                <div class="card-body" >
                  <div class="d-flex justify-content-center" >
                    <a href="{{ url_for('formp') }}" ustify-content-center class="btn btn-success btn-sm" role="button">ייצוא לאקסל - דו״ח מתנדבים בתפקיד</a>  
                  </div>
                    <div class="chartjs-size-monitor" style=" overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand" style="overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink" style="overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                    </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                </div>
                      
             

      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card-header"style= "text-align: center;">פילוח חניכימ.ות </div>
        <div class="card-body" >
          <div class="d-flex justify-content-center" >
            <a href="{{ url_for('studentli') }}" ustify-content-center class="btn btn-success btn-sm" role="button">ייצוא לאקסל - דו״ח חניכימ.ות</a>  
          </div>
          <canvas id="mychart"></canvas>
        </div>
      </div>
        
      <div class="col-lg-12 col-md-12 col-sm-12">
        
        <div class="card-header" style="text-align: center;">פילוח ביטולי פעולות - חודש אחרון</div>
        <div class="card-body" >
          <div class="d-flex justify-content-center" >
            <a href="{{ url_for('action') }}" ustify-content-center class="btn btn-success btn-sm" role="button">ייצוא לאקסל - דו״ח פעולות </a>  
          </div>
            <div class="chartjs-size-monitor" style=" overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand" style="overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink" style="overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
                
            </div> <canvas id="chart-meetings" width="299" height="100" class="chartjs-render-monitor" style="display: block; width: 199px; height: 200px;"></canvas>
        </div>
       
      </div>
    </div>
    
</br>
</br>
</br>
</br>
</br></br>
</br></br>
</br></br>
</br>
   

    <script>
      let mychart = document.getElementById('mychart').getContext('2d');

      letbarChart = new Chart(mychart, {
        type:'bar', //bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
          labels:['צפון', 'שרון', 'מרכז', 'שפלה', 'דרום', 'תחום טרנס', 'תחום דתיות', 'תחום אלואן', 'תכנית ניר'],
          datasets: [{
            data:[{{zafon}},{{sharon}},{{merkaz}},{{shfela}},{{darom}},{{trans}},{{datiot}},{{allwan}},{{nir}}],
            label:'סה״כ חניכימ.ות לפי אזור',
            backgroundColor:'#458af7',
            fill: false,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:2,
            hoverBorderColor:'#000'
          }, {
            data:[{{zafon2}},{{sharon2}},{{merkaz2}},{{shfela2}},{{darom2}},{{trans2}},{{datiot2}},{{allwan2}},{{nir2}}],
            label:'חניכות לא פעילות',
            backgroundColor:'#FF33AF',
            fill: true,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:2,
            hoverBorderColor:'#000'
          },{
            data:[{{zafon3}},{{sharon3}},{{merkaz3}},{{shfela3}},{{darom3}},{{trans3}},{{datiot3}},{{allwan3}},{{nir3}}],
            label:'חניכות פעילות',
            backgroundColor:'#33FFB5',
            fill: true,
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:2,
            hoverBorderColor:'#000'
            }]
        
        },
        options: {
                    title: {
                        display: true,
                        text: 'פילוח חניכימ.ות לפי איזורים ותחומים'
            }
          }
        
        
      });

    </script>
</body>


</br>

</br>

{% endblock %}



