{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary">תיוק קובץ לפעולה</h1>
</br>
  <form method="POST" enctype="multipart/form-data">
    {{form.csrf_token}}
    {{form.hidden_tag()}}

    <em class="redText">* </em>{{form.FileName.label}} {{form.FileName()}} <br>
    {{form.FileDescription.label}} {{form.FileDescription()}} <br>
    <em class="redText">* </em>{{form.TheFile.label}} {{form.TheFile()}} <br>


      {{ form.submit() }}
  </form>
</div>

      
      </div>
    </td>
    <td>
     
    </td>
  </tr>
</table>


{% endblock %}
