{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary">חיפוש במאגר פעולות </h1>
</br>

  <form method ="POST">
    <input type="text" autofocus="autofocus" name="voli_string">
    <input type="submit" formaction="/search_meeting" value="Search / Return">

  </form>
</br>

  <h6>לצפיה בכרטיס הפעולה, לחצ.י על התאריך:</h6>

  <input class="form-control" id="myInput" type="text" placeholder="Search..">


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">תאריך</th>
        <th scope="col">שם הקבוצה</th>
        <th scope="col">בוצעה / בוטלה</th>
        <th scope="col">פלטפורמה</th>
        <th scope="col">נושא</th>
        <th scope="col">דירוג (1-5)</th>

      </tr>
    </thead>

</br>
</br>
    <tbody id ="idan">
      {% for S in meetings_list3  %}
      
      <tr>
        <td scope="row">{{loop.index}}</td>
        <td>
          <a href="{{url_for('edit_meet', IDM=S.IDM)}}">{{S.Mdate}}</a>
        </td>
        <td>
          {{S.name}}
        </td>
        <td>
          {{S.Occurence}}
        </td>
        <td>
          {{S.Platform}}
        </td>
        <td>
          {{S.title}}
        </td>
        <td>
          {{S.Rate}}
        </td>

      </tr>
      {% endfor %}

    </tbody>
  </table>


</div>
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#idan tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>


{% endblock %}
