{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>כתיבת הודעה למדריכים בעמוד הבית</h1>
    <p>מלא את פרתיך ואת פרטי ההודעה</p>
    <form method="POST">
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
       
  
        {{ form.IDV.label }} {{ form.IDV(value=current_user.email) }}
      </br>
      <em class="redText">* </em>{{ form.Content.label }} </br> {{ form.Content(cols="50", rows="3") }}
    </br>
    
  
    
        {{ form.submit() }}
    </form>
  </div>
  
 
    
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">רשימת הודעות </h4>
        {% for M in old_message  %}
        <p>{{M.Content}} </br> מועד פרסום: {{M.Mdate}} </br>דוא״ל: {{M.IDV}}</p>
        <hr>
        <p class="mb-0"></p>
  
        {% endfor %}
      </div>
 
{% endblock %}

