{% extends "home.html" %}
{% block content %}
<div class="jumbotron">
  <h1>השאר פרטים:</h1>
  <p>מלא.י את כל השדות</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.group_id.label }} {{ form.group_id() }}
    </br>
      {{ form.emailc.label }} {{ form.emailc() }}
    </br>
    {{ form.pronounc.label }} {{ form.pronounc() }}
    </br>
    {{ form.phonenumc.label }} {{ form.phonenumc() }}
  </br>
  {{ form.firstname.label }} {{ form.firstname() }}
</br>
  {{ form.lastname.label }} {{ form.lastname() }}
</br>

  {{ form.status.label }} {{ form.status() }}

    </br>
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
