{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary">שיבוץ חניכ.ה בקבוצה</h1>
  
  <style scoped>
    .redText {color:red;}
    </style>
</br>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      <em class="redText">* </em>

      {{ form.group_id.label }} {{ form.group_id() }}<br>
      <em class="redText">* </em>
{{ form.student_emails.label }} {{ form.student_emails() }}<br>
<em class="redText">* </em>

      {{ form.statusg.label }} {{ form.statusg() }}<br>


      {{ form.submit() }}
  </form>
</br>
</br>


<h5><div class="p-2 mb-2 bg-info text-black">רשימת חניכימ.ות שטרם שובצו לקבוצה </div></h5>

  <div class="table-responsive">


  <table id="example_table"   class="table table-hover table-bordered table-secondary border-info">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">דואר אלקטורני</th>
      <th scope="col">שם פרטי</th>
      <th scope="col">שם משפחה</th>
      <th scope="col">לשון פניה</th>
      <th scope="col">עיר מגורים</th>
      <th scope="col">מספר טלפון נייד</th>

    </tr>
  </thead>
</br>

  <tbody>
    {% for stu in students_list2  %}
    <tr>
      <td scope="row">{{loop.index}}</td>
      <td> 
       {{stu.emails}}
      </td>
      <td>
      {{stu.firstname}}
      </td>
      <td>
        {{stu.lastname}}
      </td>
      <td>
        {{stu.pronouns}}
      </td>
      <td>
        {{stu.citys}}
      </td>
      <td>
        {{stu.phonenums}}
      </td>
 
    </tr>
    {% endfor %}

  </tbody>
  </table>
</div>
</div>
</div>

<script>
  $(document).ready(function () {
$('#example_table').DataTable({
"pagingType": "full_numbers" // "simple" option for 'Previous' and 'Next' buttons only
});
$('.dataTables_length').addClass('bs-select');
});
</script>


{% endblock %}
