{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary">שיבוץ חניכ.ה בקבוצה</h1>
  <style scoped>
    .redText {color:red;}
    </style>
</br>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.group_id.label }} {{ form.group_id() }}<br>
      <em class="redText">* </em>
{{ form.student_emails.label }} {{ form.student_emails(value=emails) }}<br>
      {{ form.statusg.label }} {{ form.statusg() }}<br>


      {{ form.submit() }}
  </form>

  <div class="jumbotron">
    <h5>רשימת חניכימ.ות שטרם שובצו בקבוצה:</h5>
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">דואר אלקטורני</th>
          <th scope="col">שם פרטי</th>
          <th scope="col">שם משפחה</th>
          <th scope="col">מספר טלפון נייד</th>
  
        </tr>
      </thead>
  </br>
  
      <tbody>
        {% for stu in students_list2  %}
        <tr>
          <td scope="row">{{loop.index}}</td>
          <td> 
           {{stu.emails}}
          </td>
          <td>
          {{stu.firstname}}
          </td>
          <td>
            {{stu.lastname}}
          </td>
          <td>
            {{stu.phonenums}}
          </td>
     
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  </div>

  <h5>רשימת חניכימ.ות לפי קבוצה. לעריכה לחצ.י על כתובת הדוא״ל:</h5>


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">דואר אלקטורני</th>
        <th scope="col">שם מלא</th>
        <th scope="col">שם הקבוצה</th>
        <th scope="col">סטטוס פעילות</th>

      </tr>
    </thead>
</br>

    <tbody>
      {% for S in stu_in_group_list  %}
      
      <tr>
        <td scope="row">{{loop.index}}</td>
        <td> 
          <a href="{{url_for('edit_stuingroup', id=S.StudentInGroup.id)}}">{{S.emails}}</a>
        </td>
        <td>
          {{S.firstname}} {{S.lastname}}


        </td>
        <td>
          {{S.name}}

        </td>
        <td>
          {{S.statusg}}
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

</div>
{% endblock %}
