{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>שיוך חניך במפגש:</h1>
  <p>מלא את הפרטים הבאים</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      {{ form.IDM.label }} {{ form.IDM() }}
        </br>
      {{ form.EmaillS.label }} {{ form.EmaillS() }}
        </br>
      {{ form.Attendance.label }} {{ form.Attendance() }}
      {{ form.submit() }}
  </form>
</div>
<table >
    <tr>
        <td>
            <table >
                <tr>
                    <td>
                        <div class="jumbotron">
                        <h2>רשימת מפגשים </h2>
                        <ul>
                          {% for m in meetings  %}
                          <li>{{m}}</li>
                          {% endfor %}
                        </ul>
                      
                      </div> 
                     </td>
                      <td>
                        <div class="jumbotron">
                            <h2>  רשימת סטודנטים  </h2>
                            <ul>
                              {% for s in students  %}
                              <li>{{s}}</li>
                              {% endfor %}
                            </ul>
                          
                          </div>
                      </td>
                      <td>
                        <div class="jumbotron">
                            <h2> רשימת סטודנטים משויכים לפגישות </h2>
                            <ul>
                              {% for s in students_in_meeting  %}
                              <li>{{s}}</li>
                              {% endfor %}
                            </ul>
                          
                          </div>
                      </td>
                </tr>
            </table>
            
        </td>
    </tr>
</table>





{% endblock %}
