{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary">שיבוץ מתנדב.ת בתפקיד</h1>
</br>
  <p>מלא.י את הפרטים הבאים</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      {{ form.IDV.label }} {{ form.IDV() }}
        </br>
      {{ form.IDP.label }} {{ form.IDP() }}
         </br>
      {{ form.Statusvp.label }} {{ form.Statusvp() }}
    </br>

      {{ form.submit() }}
  </form>
</div>
<div class="jumbotron">
  <h3 class="m-0 font-weight-bold text-primary">רשימת המתנה - מתנדבימ.ות שעברו הליך מיון וטרם שובצו בתפקיד</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">תעודת זהות</th>
        <th scope="col">שם פרטי</th>
        <th scope="col">שם משפחה</th>
        <th scope="col">לשון פניה</th>
        <th scope="col">מספר טלפון נייד</th>
        <th scope="col">מועד מעבר מיונים</th>

      </tr>
    </thead>
</br>

    <tbody>
      {% for v in volunteers_poss_list2  %}
      <tr>
        <td scope="row">{{loop.index}}</td>
        <td> 
          {{v.IDV}}
         </td>
        <td> 
         {{v.FnameV}}
        </td>
        <td>
        {{v.SnameV}}
        </td>
        <td>
          {{v.PronounsV}}
        </td>
        <td>
          {{v.PhoneNumV}}
        </td>
        <td>
          {{v.DateAdded}}
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>




</div>
</td>



{% endblock %}
