{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>שיוך מתנדב לתפקיד:</h1>
  <p>מלא את הפרטים הבאים</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      {{ form.IDV.label }} {{ form.IDV() }}
        </br>
      {{ form.IDP.label }} {{ form.IDP() }}
  
      {{ form.submit() }}
  </form>
</div>
<div class="jumbotron">
<h2> רשימת מתנדבים מקושרים - נדרש להציג את כל מי שלא מקושר!</h2>
  <ul>
    {% for v in volunteers_in_poss  %}
    <li>{{v}}</li>
    {% endfor %}
  </ul>
                          
</div>
</td>




{% endblock %}
