{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="m-0 font-weight-bold text-primary">הוספת מסמך</h1>
</br>
  <h5>מלא.י את הפרטים הבאים:</h5>
  <form method="POST" enctype="multipart/form-data">
      {# This hidden_tag is a CSRF security feature. #}
      {{form.hidden_tag()}}

      <em class="redText">* </em> {{form.IDV.label}} {{form.IDV()}} <br>
      <em class="redText">* </em>{{form.Dname.label}} {{form.Dname()}} <br>
      {{form.DocDescription.label}} {{form.DocDescription()}} <br>
      <em class="redText">* </em> {{form.Document.label}} {{form.Document()}} <br>
      <br>
      {{ form.submit(value ="העלה מסמך") }}
  </form>

</br>
<p>חיפוש מסמכים בטבלה:</p>

<input class="form-control" id="myInput" type="text" placeholder="Search..">

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ת״ז מתנדב.ת</th>
      <th scope="col">שם פרטי</th>
      <th scope="col">שם משפחה</th>
      <th scope="col">תפקיד</th>
      <th scope="col">שם מסמך</th>
      <th scope="col">תאריך הוספה</th>

    </tr>
  </thead>
  <tbody id = "idan">
    {% for V in volunteer_and_doc  %}

    <tr>
      <td scope="row">{{loop.index}}</td>
      <td> 
        <a href="{{url_for('edit_volunteer', IDV=V.IDV)}}">{{V.IDV}}</a>

      </td>
      <td>
      {{V.FnameV}}
      </td>
      <td>
        {{V.SnameV}}
      </td>
      <td>
        {{V.PossName}}
      </td>
      <td>
        {{V.Dname}}
      </td>
      <td>
        {{V.DateAdded}}
      </td>
    </tr>
    {% endfor %}

  </tbody>


</div>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#idan tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
{% endblock %}
