{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>שיוך מתנדב לקבוצה:</h1>
  <p>מלא את הפרטים הבאים</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}

      {{ form.IDV.label }} {{ form.IDV() }}
        </br>
      {{ form.IDG.label }} {{ form.IDG() }}
    </br>
    {{ form.statusV.label }} {{ form.statusV() }}

      {{ form.submit() }}
  </form>
</br>
</br>
<h6>לעריכה, לחץ על פרטי החניך:</h6>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID OF Volunteer</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">ID OF Group</th>
            <th scope="col">Group Name</th>
            <th scope="col">Statuse in group</th>

          </tr>
        </thead>
      </br>

        <tbody>
          {% for V in volunteer_in_group  %}
          <tr>
            <th scope="row"><ol></ol></th>
            <td> 
              <a href="{{url_for('edit_volingroup', id=V.id)}}">{{V.IDV}}</a>
            </td>
            <td>
            </td>
            <td>

            </td>
            <td>
              {{V.IDG}}

            </td>

          </td>
          <td>

          </td>
          <td>
            {{V.statusV}}

          </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

</div>


{% endblock %}
